:host ::ng-deep {
    .apexcharts-canvas {
      border-radius: 0.5rem;
      
      .apexcharts-legend-text {
        color: #1C274C !important;
        font-weight: 500 !important;
      }
      
      .apexcharts-tooltip {
        background: white !important;
        border: none !important;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) !important;
        border-radius: 0.5rem !important;
      }
    }
  }